body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #444;
}

* {
  box-sizing: border-box;
}

main {
    background: #1e1f1b;
    width: 701px;
    margin: 0 auto;
    padding: 0 60px 40px 60px;
}

p, ul {
    color: #ddd;
    padding-top: 30px;
    font-size: 16px;
    line-height: 1.6;
}

em {
    font-style: italic;
}

pre {
    border: solid 1px #ddd;
    margin: 40px 0 0 0;
    padding: 0 10px 0 20px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word; 
}

pre code {
    color: #ddd;
    padding-top: 30px;
    font-size: 16px;
    line-height: 1.4;
}

a,
a:visited,
a:active,
a:hover {
    color: #b075f9;
}

ul {
    list-style-position: outside;
    padding: 0 40px 0 20px;
}

li {
    padding-top: 10px;
    list-style-type: disc;
}

h1 {
    color: #e4d75f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    color: #b075f9;
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
}

table {
    color: #ddd;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
}

table td {
    border: solid 1px #ddd;
    padding: 10px;
}

/* Style classes */

code,
.yellow,
.purple,
.red,
.green {
    font-family: monospace;
}

.yellow {
    color: #e4d75f;
}
.purple {
    color: #b075f9;
}
.red {
    color: #c40f5a;
}
.green {
    color: #63b72b;
}

.nav {
    padding-top: 20px;
}

.spacer {
    padding-top: 80px;
}


@media only screen and (max-width: 700px) {
    main {
        width: 100%;
        padding: 0 40px 40px 40px;
    }
}


@media only screen and (max-width: 400px) {
    main {
        width: 100%;
        padding: 0 20px 40px 20px;
    }

    p,
    ul,
    pre code {
        color: #ddd;
        padding-top: 30px;
        font-size: 14px;
        line-height: 1.6;
    }

    h1 {
        color: #e4d75f;
        font-size: 20px;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    h2 {
        color: #b075f9;
        font-size: 16px;
        font-weight: bold;
        padding-top: 40px;
    }
}
