body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #ddd;
}

* {
  box-sizing: border-box;
}

main {
    background: #1e1f1b;
    width: 801px;
    margin: 0 auto;
    padding: 0 60px 40px 60px;
}

p, ul {
    color: #ddd;
    padding-top: 30px;
    font-size: 18px;
    line-height: 1.6;
}

a,
a:visited,
a:active,
a:hover {
    color: #b075f9;
}

ul {
    list-style-position: outside;
    padding: 0 40px 0 20px;
}

li {
    padding-top: 10px;
    list-style-type: disc;
}

h1 {
    color: #e4d75f;
    font-size: 28px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    color: #b075f9;
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
}

table {
    color: #ddd;
    margin-top: 40px;
    line-height: 1.6;
}

table td {
    border: solid 1px #ddd;
    padding: 10px;
}

.codepen {

}

/* Style classes */

.yellow {
    color: #e4d75f;
}
.purple {
    color: #b075f9;
}
.red {
    color: #c40f5a;
}
.green {
    color: #63b72b;
}
code {
    font-family: "Courier New", Courier, monospace;
}




@media only screen and (max-width: 1000px) {
    main {
        width: 100%;
    }
}


@media only screen and (max-width: 400px) {
    main {
        width: 100%;
    }
    h1,
    h2,
    p,
    ul,
    table {
        padding-left: 10px;
        padding-right: 10px;
    }
}